@charset "UTF-8";
body {
    background-color: #262727;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
}

img, img a {
    border: none
}


.pointline{
    position: absolute;
    top:40%;
    height: 100%;
    width: 1px;
    opacity: 0.2;
    background-color: #00ad8c;
    animation: change_colors 5s infinite;
}

.essay {
    position: absolute;
    font-size: 1em;
    top: 45%;
    color: rgba(213, 0, 84, 0.63)
}

.essay1 {
    position: absolute;
    font-size: 1em;
    top: 45%;
    margin-left: 0.5em;
    color: #aeb0b4
}


.note1 {
    position: absolute;
    font-size: 0.8em;
    top: 37%;
    margin-left: -0.4em;
    color: #008468
}

.note2 {
    position: absolute;
    font-size: 0.8em;
    top: 37%;
    margin-left: -0.4em;
    color: #bb0042
}

.essay a {
    color: #444352;
    text-decoration: none
}

.langselect{
    position: fixed;
    display: inline;
    text-align: center;
    margin-right: 2em;
    margin-left: 1em;
    padding-right: 2em;
    z-index:999;
    top: 1%;
    left: 93%;
    height: 1.55em;
    width: 5em;
}

.langselect button{
    cursor: pointer;
    display: inline-block;
    width: 27.0%;
    min-width: 1em;
    height: 90%;
    border: 1px solid rgba(208, 213, 211, 0);
    border-radius: 10%;
    background-color: rgba(248, 250, 255, 0.4);;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-position: -0.05em 0em;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
}

#langselect-button{
    mask-image: url('../img/globe_icon.svg');
    -webkit-mask-image: url('../img/globe_icon.svg');
}

.langselect button:hover{
    background-color: #00ad8c;
}

.langselect ul {
    position: relative;
    left: -2em;
    top: 0.2em;
}

.distance-counter{
    position: fixed;
    display: inline;
    z-index:10;
    height: 20px;
    text-align: right;
    margin-left: 0px;
    transition: opacity 300ms ease-out;
}

#distance-counter1{
    color: #00ad8c;
    top: 45%;
    left: 50%;
    transition: top 600ms ease-out, opacity 600ms ease-in-out;
 }

#distance-counter2{
    color: #d50054;
    top: 93%;
    left: 50%;
    transition: opacity 600ms ease-in-out;
}

.counter {
    font-size: 0.8em;
    display: inline;
    cursor: pointer
}

.selectarrow img {
    display: inline;
    opacity: .7;
    height: 9px;
    width: 9px;
    margin-left: 4px;
    cursor: pointer
}

.unitselect {
    position: relative;
    margin-top: -8em;
    display: none;
    text-align: end;
}

#langs {
    display: none
}

.unitselect li, .langselect li {
    list-style-type: none;
    background: rgba(23, 23, 26, 0.01);
    padding: 2px 0
}

.unitselect li a, .langselect li a {
    font-size: 0.8em;
    padding: 6px 4px;
    list-style-type: none;
    color: #00ad8c;
    font-family: Work Sans,sans-serif;
    text-decoration: none;
}

.unitselect li:hover > a, .langselect li:hover > a {
    color: #fff
}

#credit {
    position: absolute;
    display: inline-block;
    top:5%;
    height: 95%;
    left: 2%;
    margin-left:0;
    text-align: center;
}

#credit img {
    display: inline-block;
    height: 95%;
    margin-left: 1em;
    opacity: 1.0;
}

.nav {
    position: fixed;
    width: 500px;
    height: 100px;
    top: 0;
    left: 50%;
    margin-left: -250px
}

.nav li {
    display: inline;
    margin: 10px;
    list-style-type: none
}

.nav li img {
    height: 15px;
    width: 15px;
    opacity: .7
}

.nav li img:hover {
    opacity: 1
}

.bio-sine{
    transform-style: preserve-3d;
    transition: transform 800ms ease 0s;
    transform: translateX(-74px) translateY(0px) translateZ(0px);
}


#speeder {
    position: fixed;
    width: 120px;
    height: 50px;
    top: 90%;
    left: 99%;
    margin-left: -5em;
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    z-index: 10;
}

#speeder button{
    cursor: pointer;
    display: inline-block;
    width: 40.0%;
    min-width: 1em;
    height: 100%;
    border: 1px solid rgba(208, 213, 211, 0);
    border-radius: 10%;
    background-color: rgba(248, 250, 255, 0.4);;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-position: -0.05em 0em;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    opacity: 0.8;
}

#speeder-button{
    mask-image: url('../img/running.svg');
    -webkit-mask-image: url('../img/running.svg');
}

#speeder button:hover{
    opacity: 1.0;
    background-color: #f8faff;
}

#speeder-button.activebutton{
    opacity: 1.0;
    background-color: rgba(0, 165, 130, 0.95);
}

#speedmsg {
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #e8e8e8;
    text-align: right;
    position: fixed;
    width: 400px;
    height: 40px;
    top: 90%;
    right: 5%;
    margin-left: -10em;
    margin-top: -2em;
    display: none
}

#msg1, #msg2, #msg3, #msg4, #msg5 {
    display: none;
    position: absolute;
    text-align: right;
    right: 0;
    top: 6px
}


.warpfactor {
    position: relative;
    top: -18px
}

#reloader {
    position: fixed;
    width: 20px;
    top: 90%;
    left: 99%;
    margin-left: -100px;
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    color: #aaa
}

#reloader a {
    opacity: .7;
    color: #aaa;
    text-decoration: none
}

#reloader a:hover {
    opacity: 1
}

#introwrap {
    float: left;
    display: inline;
    height: 100%;
}

#titlecard {
    float: left;
    position: relative;
    height: 80vh;
    width: 100vh;
    z-index: 4;
    background-color: #00ad8c;
}

#titlecard img {
    position: relative;
    height: 100%;
    top: 10%;
    margin-left: 10%
}

.scalewrap {
    float: right;
    height: 100%;
    margin-left: 1500px;
    z-index: 5
}

#scaleimg {
    z-index: 9
}

.scalewrap img {
    position: absolute;
    top: 50vh;
    margin-top: -250px;
    height: 500px;
    width: 500px
}

#navblocker {
    position: absolute;
    background-color: #00ad8c;
    top: 5%;
    height: 100%;
    width: 100%;
    margin-left: 0px;
    z-index: 15;
    scroll-behavior: smooth;
}

#introblocker {
    position: absolute;
    background-color: #262727;
    height: 100%;
    width: 150%;
    margin-left: 0px;
    z-index: 14;
    opacity: 0;
    scroll-behavior: smooth;
}

.planetwrapper {
    position: relative;
    height: 100%;
    top: 0%
}

#path_container{
    position: absolute;
    left: 150%;
    width: 1600000px;
    height: 100%;
    top: 5%;
}

#upper_panel{
    position: fixed;
    display: inline-block;
    top: 0%;
    width: 100%;
    height: 5%;
    min-height: 2em;
    text-align: center;
    z-index: 1000;
    background-color: #222323;
    border-bottom: 1px solid rgba(34, 35, 35, 0.47);
}

.path_switcher{
    position: fixed;
    top: 1%;
    left: 85%;
    width: 5.5em;
    height: 1.6em;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.path_switcher button{
    cursor: pointer;
    display: inline-block;
    width: 27.0%;
    min-width: 1em;
    height: 90%;
    border: 1px solid rgba(208, 213, 211, 0);
    border-radius: 10%;
    background-color: rgba(248, 250, 255, 0.4);
    background-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-position: -0.05em 0em;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
}

#button_lower_path{
    -webkit-mask-image: url('../img/button_paths_lower.svg');
    mask-image: url('../img/button_paths_lower.svg');
}

#button_upper_path{
    -webkit-mask-image: url('../img/button_paths_upper.svg');
    mask-image: url('../img/button_paths_upper.svg');
}

#button_both_paths{
    -webkit-mask-image: url('../img/button_paths_both.svg');
    mask-image: url('../img/button_paths_both.svg');
}

.path_switcher button:hover{
    background-color: rgba(248, 250, 255, 1.0);
}

button.activebutton{
    background-color: rgba(0, 165, 130, 0.95);
}


.timepath{
    position: relative;
    left: 0px;
    background-color: #262727;
    background-image: url(../img/ticks_white.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    width: 1000000px;
}

#timepath {
    height: 47.5%;
    border-bottom: 1px solid #00ad8c;
    transition: height 500ms ease-in-out, opacity 400ms ease-in, visibility 400ms ease-in-out 400ms
}


#timepath2 {
    height: 47.5%;
    border-bottom: 1px solid #d50054;
    transition: height 500ms ease-in-out, opacity 400ms ease-in, visibility 400ms ease-in-out 400ms;

}

.labeltext {
    position: absolute;
    font-family: gotham ssm a, gotham ssm b, helvetica neue, Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2em;
    color: #eaeaea;
    text-transform: uppercase
}

#startwrap {
    left: 0px;
    top: 30%;
    position: relative;
    z-index: 2
}

#start {
    position: relative;
    height: 200px;
    width: 200px;
    fill: rgba(0, 173, 140, 0.2);
    border: #00ad8c 2px;
}

#starttxt {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    top: 84px;
    color: #262727;
    font-size: 2em
}

#endwrap {
    left: 1000000px;
    margin-right: 0;
    position: absolute;
    top: 0%;
    width: 40px;
    height: 100%;
    z-index: 2
}

.endline{
    position: relative;
    height: 100%;
    width: 2px;
    opacity: 0.15;
}

#endline1{
    background-color: #00ad8c;
    animation: change_colors 5s infinite;
}

#endline2{
    background-color: #d50054;
    animation: change_colors_rev 5s infinite;
}

@keyframes change_colors {
    0% {background-color: #00ad8c;}
    50% {background-color: #d50054;}
    100% {background-color: #00ad8c;}
}

@keyframes change_colors_rev {
    0% {background-color: #d50054;}
    50% {background-color: #00ad8c;}
    100% {background-color: #d50054;}
}

#endtxt {
    position: relative;
    width: 200px;
    color: #c5e3ff;
    font-size: 2em;
    left: 0px;
}
#end {
    position: relative;
    left: 10px;
    padding-left: -100px;
    height: 100px;
    width: 100px;
    fill: #da56ed;

}